**/.*
**/.DS_Store
**/Icon?
!.gitignore
!.github

**/*.wav
**/__pycache__
*.mid
*.midi
*.txt
*.bell
*.pt
*.json
**/_*.*
!**/__*__.py
**/*.egg-info
web/docs/cmds/*.md
!README.md
!web/*.json


# web
**/node_modules
**/build
.cache-loader

web/.env.

npm-debug.log*
yarn-debug.log*
yarn-error.log*
!.placeholder
