/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(-90deg, #504595, #8d85db, #b693d3);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
.title {
  font-size: 45px;
}
.subtitle {
  font-size: 25px;
}

[data-theme="dark"] {
  .title {
    color: white;
  }
  .subtitle {
    color: white;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 180px;
}
