.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  div {
    margin: auto;
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
  background: linear-gradient(0deg, var(--ifm-color-primary-dark), var(--ifm-color-primary-lighter));
  border-radius: 50%;
  border: 1px solid;
  border-color: rgb(275, 199, 206);
}
