.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  background-color: #daadffcc;
  border-radius: 25%;
  border: 10px solid;
  border-color: #7b72b364;
  box-sizing: content-box;
}
